#reviews-home {
    .left-section {
       min-height: 100vh;
       padding: 10px;
       background: #f1f2f5;
       margin: 30px 0px;
       border-radius: 5px;
    }
    .middle-section {
        min-height: 100vh;
        padding: 10px;
        background: #f1f2f5;
        margin: 30px 0px;
        border-radius: 5px;
    }

    .right-section {
        min-height: 100vh;
        padding: 10px;
        background: #f1f2f5;
        margin: 30px 0px;
        border-radius: 5px;
    }

    .col-sm-7 {
        padding: 0px;
    }
}