#new-post-steps{
    margin-top: 80px;

    #textarea {
        height: 200px !important;
    }

    #Tags {

        #root {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%);
            min-width: 700px;
          }
          
          .tags {
            background: #b4e0fd;
            padding: 5px;
            overflow: hidden;
          }
          
          .tag {
            color: #fff;
            font-weight: bold;
            background: #3498db;
            float: left;
            padding: 5px 10px;
            border-radius: 10em;
            margin: 5px;
            
            button {
              background: transparent;
              border: 0;
              cursor: pointer;
            }
          }
          
          .tag-input {
            padding: 5px 10px;
            background: #b4e0fd;
            box-sizing: border-box;
            color: #7f8c8d;
            border: 0;
            float: left;
            margin: 10px 0;
            font-size: 16px;
            outline: 0;
          }
          
          code {
            font-size: 12px;
            background: #b4e0fd;
            display: inline-block;
            font-family: courier;
            padding: 4px 6px;
            border-radius: 4px;
          }
          
          small {
            color: #7f8c8d;
            font-size: 14px;
            margin-top: 10px;
            display: block;
            line-height: 16px;
          }
    }

    .google--login {
      width: 243px;
      height: 53px;
      margin-top: 15px;
    } 
}

// .new-post {
//     margin-top: 20%;
//     margin-left: 35%
// }